.idea/
*.exe
poc-cb-net/cmd/agent/agent
poc-cb-net/cmd/controller/controller

# Ignore configuration directory
# to avoid leaking sensitive information and frequent update
poc-cb-net/configs/**
# Provide templates of configuration files
# for users to copy and edit
!poc-cb-net/configs/template*